/* FONTS */
@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"),
    url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: local("OpenSans-SemiBold"),
    url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"),
    url(../fonts/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: local("OpenSans-ExtraBold"),
    url(../fonts/OpenSans-ExtraBold.ttf) format("truetype");
}

/* GENERAL STYLES */
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#c2157d, #e8380d);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#9e1266, #b92d0a);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
  overscroll-behavior: none;
}

body {
  background-color: #10060f;
  color: #ffffff;
  font-family: OpenSans-Regular;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

footer span {
  color: #8a8a8a;
}

footer a {
  height: 24px;
  text-decoration: none;
  width: 24px;
}

/* SHANELLE STYLES */

/* GENERAL */
.shanelle-language-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.shanelle-header {
  background: linear-gradient(269.58deg, #c2157d 25.33%, #e8380d 82.24%);
  background-attachment: fixed;
  will-change: transform;
  transform: translateZ(0);
  font-size: 16px;
  font-weight: 700;
  height: 65px;
  text-transform: uppercase;
}

.shanelle-loader {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  left: 46%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.shanelle-rotated-text {
  -moz-transform-origin: left center;
  -moz-transform: rotate(-90deg);
  -ms-transform-origin: left center;
  -ms-transform: rotate(-90deg);
  -o-transform-origin: left center;
  -o-transform: rotate(-90deg);
  -webkit-transform-origin: left center;
  -webkit-transform: rotate(-90deg);
  position: absolute;
  transform-origin: left center;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.shanelle-semi-bold-text {
  font-family: OpenSans-SemiBold;
}

.shanelle-bold-text {
  font-family: OpenSans-Bold;
}

.shanelle-extra-bold-text {
  font-family: OpenSans-ExtraBold;
}

.shanelle-container {
  background: linear-gradient(
    rgba(194, 21, 125, 0.6) 0%,
    rgba(232, 56, 13, 0.6) 100%
  );
  border-radius: 10px;
  padding: 4px !important;
}

.shanelle-inner-container {
  background: #10060f;
  border-radius: 10px;
  height: 100%;
  padding: 30px;
}

.shanelle-fixed-footer {
  bottom: 3%;
  left: 0;
  padding: 0 15%;
}

/* HOME */
.shanelle-home-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 92.5vh;
  object-fit: cover;
  z-index: -1;
}

.shanelle-home-header-image {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  z-index: 1;
}

.home-buttons-flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.home-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: auto;
}

.home-buttons {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  color: #c2157d;
  outline: none;
  text-transform: uppercase;
}

.home-buttons:active,
.home-buttons:focus,
.home-buttons:hover {
  background-color: #c2157d;
  color: #fff;
}

.shanelle-catchphrase {
  color: #cbb0c8;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  height: 108px;
  line-height: 27px;
  width: 440px;
}

.shanelle-service-container {
  background: linear-gradient(
    rgba(194, 21, 125, 0.3) 0%,
    rgba(232, 56, 13, 0.3) 100%
  );
  border-radius: 10px;
  position: relative;
}

.shanelle-service-container h1 {
  left: -0.5%;
  top: 85%;
}

.shanelle-services-text-es {
  top: 92% !important;
}

.shanelle-services {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  list-style: none;
}

.organizations-track-container {
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.organizations-track {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  width: 200%;
}

.organizations-track-left {
  left: 0;
  animation: slideToTheLeft 25s linear infinite alternate;
}

@keyframes slideToTheLeft {
  0% {
    left: 0;
  }
  100% {
    left: -50%;
  }
}

.organizations-track-right {
  left: -100%;
  justify-content: flex-end;
  animation: slideToTheRight 25s linear infinite alternate;
}

@keyframes slideToTheRight {
  0% {
    left: -100%;
  }
  100% {
    left: -50%;
  }
}

/* PROJECTS */
video {
  border-radius: 10px;
  width: 924px;
}

.shanelle-projects-row-container {
  width: 90%;
}

.shanelle-projects-title {
  left: -1.5%;
}

.shanelle-project-overlay {
  background-color: rgba(16, 6, 15, 0.9);
  border-radius: 10px;
  bottom: 0;
  color: white;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.shanelle-project-overlay::before {
  opacity: 1;
  z-index: 0;
}

.shanelle-project-overlay a {
  position: absolute;
  bottom: 4%;
  right: 8%;
}

.shanelle-project-title {
  font-size: 16px;
}

.shanelle-project-container:hover .shanelle-project-overlay {
  opacity: 1;
}

.shanelle-project-description-container {
  font-size: 14px;
}

.shanelle-projects-award-icon {
  place-self: center;
  left: 0;
  top: 38px;
}

.shanelle-award-background {
  background: linear-gradient(
    rgba(194, 21, 125, 0.3) 0%,
    rgba(232, 56, 13, 0.3) 100%
  );
  height: 290px;
  place-self: center;
  position: absolute;
  z-index: -1;
}

.shanelle-projects-award-text-container {
  justify-content: center;
  align-items: center;
}

.shanelle-projects-award-text-container p {
  color: white;
  font-style: italic;
  text-align: justify;
}

.shanelle-projects-award {
  line-height: 30px;
}

.shanelle-projects-award-link {
  color: white;
}

.shanelle-projects-award-link:hover {
  color: rgb(201, 201, 201);
}

/* ABOUT US */
.shanelle-person-container {
  padding: 50px;
}

.shanelle-mission-vision-container::after,
.shanelle-values-container::after {
  border-color: #10060f;
  border-style: solid;
  content: "";
  position: absolute;
  width: 25%;
}

.shanelle-mission-vision-container::after {
  border-width: 0 0 10px 10px;
  bottom: -1px;
  height: 75%;
  left: -1px;
}

.shanelle-values-container::after {
  border-width: 10px 10px 0 0;
  height: 50%;
  right: -1px;
  top: -1px;
}

.shanelle-values-container h1 {
  top: -12%;
  right: 2%;
  background: #10060f;
  z-index: 1;
}

.shanelle-about-us-container .shanelle-rotated-text {
  left: -5%;
  top: 110%;
}

.shanelle-about-us-container h1 {
  color: #fff;
}

.shanelle-about-us-container .shanelle-name {
  background: #10060f;
}

.shanelle-about-us-container .shana {
  top: -5%;
  right: 5%;
}

.shanelle-about-us-container .michelle {
  right: 15%;
  bottom: -7%;
}

.shanelle-about-us-container p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: justify;
}

.shanelle-creator-container::after {
  border-color: #10060f;
  border-style: solid;
  border-width: 0 0 10px 10px;
  bottom: -1px;
  content: "";
  height: 100%;
  left: -1px;
  position: absolute;
  width: 80%;
}

.shanelle-creator-container h1 {
  background: #10060f;
  left: 0;
  top: -6%;
}

.shanelle-creator-container .row {
  z-index: 1;
}

.shanelle-creator-container .shanelle-creator-details {
  position: absolute;
  bottom: -95%;
}

.shanelle-creator-container .shana {
  left: 10%;
}

.shanelle-creator-container .michelle {
  right: 10%;
}

/* PRESS */
.shanelle-press-title {
  left: -1.5%;
  top: 8.5%;
}

.shanelle-press-title-es {
  top: 10% !important;
}

.shanelle-card {
  background: #fcddec;
  border-radius: 10px;
  border: none;
  font-style: italic;
  font-weight: 600;
  height: 385px;
  position: relative;
}

.shanelle-card p {
  color: #000000;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
}

.shanelle-card .link {
  bottom: 5%;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  right: 5%;
}

.swal2-modal {
  background: linear-gradient(180deg, #c2157d 0%, #e8380d 100%) !important;
}

.shanelle-modal {
  color: white;
  font-size: 16px;
  padding: 46px;
}

.shanelle-modal a {
  color: white;
}

/* ENTERTAINMENT */
.shanelle-entertainment-title {
  left: 10%;
  top: 50%;
}

.shanelle-entertainment-title-es {
  top: 42%;
}

.shanelle-entertainment-main-container {
  width: 90%;
}

.shanelle-entertainment-main-container .shanelle-container,
.shanelle-entertainment-main-container .shanelle-inner-container {
  border-radius: 28px;
}

.shanelle-entertainment-container {
  height: 245px;
}

.shanelle-entertainment-bottom-container {
  height: 166px;
}

.shanelle-entertainment-container h4 {
  font-size: 22px;
}

.shanelle-entertainment-container p {
  font-size: 13px;
}

.shanelle-tik-tok-gif {
  cursor: pointer;
  border-radius: 20px;
}

.shanelle-social-media-title {
  align-items: center;
  display: flex;
}

.shanelle-entertainment-main-container a {
  color: white;
  text-decoration: none;
}

.shanelle-entertainment-card-description-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CONTACT */
.shanelle-contact-bg-en {
  background-image: url(/src/assets/images/contact/contact-bg-en.svg);
}

.shanelle-contact-bg-es {
  background-image: url(/src/assets/images/contact/contact-bg-es.svg);
}

.shanelle-contact-bg {
  background-position: 0% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  left: 8%;
  position: absolute;
  top: 0;
  width: 100%;
}

.shanelle-contact-container {
  color: white;
}

.shanelle-contact-form-title {
  text-transform: uppercase;
}

.shanelle-contact-form-container .form-control {
  background: #d9d9d9;
}

.shanelle-contact-form-container .btn,
.shanelle-contact-form-container .form-control {
  border-radius: 10px;
}

.shanelle-contact-form-container .form-control:hover,
.shanelle-contact-form-container .form-control:focus {
  transform: scale(1.01);
}

.shanelle-contact-form-container .form-control:focus {
  border-color: #d962a6;
}

.shanelle-contact-form-container .btn {
  background: #d962a6;
  border-color: #d962a6;
  font-size: 20px;
  outline: none;
  text-transform: uppercase;
}

.shanelle-contact-form-container .btn:hover {
  background: #f991cc;
}

/* UTILITIES STYLES */
.mt-6 {
  margin-top: 5rem !important;
}

.mt-7 {
  margin-top: 6rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mt-16 {
  margin-top: 16rem !important;
}

.mb-6 {
  margin-bottom: 5rem !important;
}

.mb-7 {
  margin-bottom: 6rem !important;
}

.animate__delay-0-5s {
  animation-delay: 0.5s;
}

.animate__delay-1-5s {
  animation-delay: 1.5s;
}

.animate__delay-2-5s {
  animation-delay: 2.5s;
}

.animate__delay-3-5s {
  animation-delay: 3.5s;
}

.link {
  color: #d962a6 !important;
  text-decoration: none;
}

.link:hover {
  -ms-filter: brightness(130%);
  -webkit-filter: brightness(130%);
  color: #d962a6;
  filter: brightness(130%);
}

.float-right {
  float: right;
}

.text-justify {
  text-align: justify;
}

/* TRANSITION STYLES */
.transition {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.scale:hover {
  transform: scale(1.05);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
  will-change: transform;
}

.scale-1-2:hover {
  transform: scale(1.2);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
}

.brightness-200:hover {
  -ms-filter: brightness(200%);
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100vw {
  width: 100vw !important;
}

/* RESPONSIVE STYLES */
/* BIG SCREENS */
@media (min-width: 2000px) {
  /* ENTERTAINMENT */
  .shanelle-entertainment-title {
    left: 24%;
    top: 36%;
  }

  .shanelle-entertainment-title-es {
    top: 30% !important;
  }
}

/* MEDIUM LAPTOPS */
@media (min-width: 1281px) and (max-width: 1600px) {
  /* ENTERTAINMENT */
  .shanelle-entertainment-title {
    left: 5%;
    top: 67%;
  }

  .shanelle-entertainment-title-es {
    top: 72.5%;
  }
}
/* SMALL LAPTOPS */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* SHANELLE STYLE */
  /* PROJECTS */
  .shanelle-project-title {
    font-size: 14px;
  }

  .shanelle-project-description-container {
    font-size: 12px;
  }

  .shanelle-award-background {
    height: 300px !important;
  }

  .shanelle-projects-award-image {
    margin-top: 6%;
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  /* SHANELLE STYLE */
  /* GENERAL */
  .shanelle-fixed-footer {
    padding: 0 5% 0 8%;
  }

  /* HOME */

  .shanelle-service-container {
    margin-top: -30px;
  }

  .shanelle-award-background {
    height: 350px;
  }

  .shanelle-projects-award-text-container p {
    font-size: 14px;
    margin-right: 10%;
  }

  /* PROJECTS */
  .shanelle-projects-title {
    left: -1.5%;
  }

  .shanelle-projects-title-es {
    top: 15.5% !important;
  }

  .shanelle-project-description-container p {
    font-size: 12px;
  }

  /* ABOUT US */
  .shanelle-about-us-container .michelle {
    bottom: -6%;
  }

  /* ENTERTAINMENT */
  .shanelle-entertainment-title {
    left: 5%;
    top: 59%;
  }

  .shanelle-entertainment-title-es {
    top: 50% !important;
  }

  /* PRESS */
  .shanelle-card p {
    font-size: 12px;
  }
}

/* TABLET & PHONE */
@media (max-width: 1024px) {
  /* GENERAL STYLES */
  body.swal2-shown {
    padding-right: 0 !important;
  }

  .shanelle-mobile-menu {
    background: linear-gradient(90.41deg, #e8380d 0%, #c2157d 80%);
    border-radius: 0px 0px 0px 10px;
    right: 0;
    width: 195px;
    z-index: 2;
  }

  .shanelle-mobile-menu ul {
    list-style: none;
  }

  .shanelle-mobile-menu li {
    line-height: 50px;
    text-transform: uppercase;
  }

  .shanelle-language-container {
    justify-content: left;
  }

  /* ABOUT US */
  .shanelle-creator-container .shanelle-creator-details {
    bottom: 0;
    left: 0;
    position: initial;
    right: 0;
  }

  .shanelle-creator-container::after {
    content: none;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
  /* GENERAL STYLES */
  body {
    overflow-x: hidden;
  }

  .shanelle-header {
    font-size: 14px;
  }

  .absolute-footer {
    position: absolute;
    width: 670px;
    bottom: 3%;
  }

  .scale:hover {
    transform: none;
    filter: none;
  }

  /* SHANELLE STYLES */
  /* HOME */
  .home-buttons-container {
    padding: 0 3rem;
  }

  .shanelle-catchphrase {
    font-size: 18px;
    width: 100%;
  }

  .shanelle-service-container {
    margin: -4% 10px 0 10px;
  }

  .shanelle-second-service-container {
    top: -5%;
  }

  .shanelle-service-container h1,
  .shanelle-services-text-es {
    top: 45% !important;
  }

  /* PROJECTS */
  video {
    width: 504px;
  }

  .shanelle-projects-title,
  .shanelle-projects-title-es {
    font-size: 36px;
    left: 2.5%;
    position: absolute;
    top: -3% !important;
  }

  .shanelle-again-project-description {
    font-size: 15px;
  }

  #film-section .shanelle-container {
    background: none;
  }

  .shanelle-projects-award-image {
    width: 412px;
    top: 15%;
  }

  .shanelle-projects-award-icon {
    right: 0%;
    top: 25%;
  }

  .shanelle-award-background {
    height: 300px;
    bottom: -5%;
  }

  /* ABOUTS US */
  .shanelle-values-container h1 {
    top: -10%;
  }

  .shanelle-mission-vision-container::after {
    border-width: 0 0 15px 15px;
    bottom: -5px;
    left: -5px;
  }

  .shanelle-values-container::after {
    border-width: 15px 15px 0 0;
    right: -5px;
    top: -5px;
  }

  .shanelle-about-us-container .shanelle-name {
    background: transparent;
  }

  .shanelle-about-us-image-container {
    height: 270px;
  }

  .shanelle-about-us-image-container img {
    top: -30%;
  }

  /* PRESS */
  .shanelle-press-title,
  .shanelle-press-title-es {
    left: 3%;
    top: -2% !important;
  }

  .shanelle-card {
    height: 380px;
  }

  /* ENTERTAINMENT */
  .shanelle-entertainment-title {
    left: 5%;
    top: 8%;
  }

  .shanelle-entertainment-main-container {
    width: 100%;
  }

  /* SERVICES */
  @keyframes slideToTheLeft {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }

  @keyframes slideToTheRight {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
}

/* TABLET LANDSCAPE */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* GENERAL STYLES */
  .absolute-footer {
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
    position: relative;
    width: 100%;
  }

  /* SHANELLE STYLES */
  /* HOME */
  .shanelle-catchphrase {
    margin-top: 1% !important;
    margin-bottom: 2.5% !important;
  }

  .shanelle-service-container {
    margin: -5% 10px 0 10px;
  }

  .shanelle-service-container h1,
  .shanelle-services-text-es {
    top: 75% !important;
  }

  .shanelle-service-container h1 {
    top: 65%;
  }

  .shanelle-second-service-container {
    top: 0;
  }

  /* PROJECTS */
  .shanelle-projects-title,
  .shanelle-projects-title-es {
    top: -4% !important;
  }

  .shanelle-award-background {
    height: 400px;
  }

  .shanelle-projects-award-image {
    top: 0%;
    width: 450px;
  }

  .shanelle-projects-award-icon {
    top: 30%;
  }

  .shanelle-projects-award-text-container p {
    padding: 10% !important;
    margin-left: 1rem;
  }

  #film-section footer {
    margin-top: 4rem !important;
    margin-bottom: 2rem !important;
  }

  /* ABOUT US */
  .shanelle-values-container h1 {
    top: -9%;
  }

  .shanelle-person-container {
    padding: 20px;
  }

  .shanelle-about-us-container .shanelle-name {
    background: #10060f;
  }

  .shanelle-about-us-container .michelle {
    bottom: -7%;
  }

  .shanelle-about-us-image-container img {
    top: 10%;
    width: 90%;
  }

  /* PRESS */
  #press-section footer {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
  }

  /* ENTERTAINMENT */
  .shanelle-entertainment-title {
    top: 12%;
  }

  .shanelle-entertainment-container,
  .shanelle-entertainment-bottom-container {
    height: 100%;
  }

  /* CONTACT */
  .shanelle-contact-container-en {
    background-image: url(/src/assets/images/contact/contact-bg-tablet-landscape-en.svg);
  }

  .shanelle-contact-container-es {
    background-image: url(/src/assets/images/contact/contact-bg-tablet-landscape-es.svg);
  }

  .shanelle-contact-container {
    background-position: 50px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    margin-bottom: 8%;
  }
}

/* PHONE */
@media only screen and (max-width: 767px) {
  /* GENERAL STYLES */
  p {
    font-size: 14px;
  }

  .scale:hover {
    transform: none;
    filter: none;
  }

  .shanelle-container {
    background: none;
  }

  /* SHANELLE STYLES */
  /* HOME */
  .shanelle-home-video {
    position: initial;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home-buttons-flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 1.25rem;
  }

  .shanelle-catchphrase {
    font-size: 15px;
  }

  .shanelle-service-container {
    background: transparent;
  }

  .shanelle-services {
    padding-left: 0;
  }

  .check-icon {
    margin-left: -5px;
  }

  .organizations-track {
    gap: 2rem;
  }

  @keyframes slideToTheLeft {
    0% {
      left: 0;
    }
    100% {
      left: -185%;
    }
  }

  @keyframes slideToTheRight {
    0% {
      left: -100%;
    }
    100% {
      left: 85%;
    }
  }

  /* PROJECTS */
  .shanelle-project-container {
    content: none;
  }

  .shanelle-award-background {
    height: 640px;
    place-self: flex-end;
  }

  /* ABOUT US */
  .shanelle-inner-container {
    padding: 20px;
  }

  .shanelle-person-container {
    padding: 30px;
  }

  .shanelle-about-us-container {
    padding: 10px;
  }

  .shanelle-about-us-container::before,
  .shanelle-about-us-container::after {
    content: none;
  }

  .shanelle-about-us-container .shanelle-name {
    background: transparent;
    font-size: 20px;
  }

  .shanelle-about-us-container p {
    font-size: 14px;
    text-align: left;
  }

  /* PRESS */
  .shanelle-card {
    height: 405px;
  }

  /* ENTERTAINMENT */
  .shanelle-entertainment-main-container .shanelle-container {
    background: linear-gradient(
      rgba(194, 21, 125, 0.6) 0%,
      rgba(232, 56, 13, 0.6) 100%
    );
  }

  .shanelle-entertainment-container,
  .shanelle-entertainment-bottom-container {
    height: 100%;
  }

  .shanelle-entertainment-container h4 {
    font-size: 15px;
  }

  .shanelle-entertainment-container p {
    font-size: 11px;
  }

  /* CONTACT */
  .shanelle-form-thanks {
    line-height: 33px;
    color: #473245;
  }
}
